.footer{
    margin:  40px 110px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;;
} 

.btn{
    padding:5px px;
}

.btn img{
      border-radius: 50%;
      position: relative;
      bottom: 15px;
      height: 40px;
      width: 40px;
  }
  .btn img:hover{
    transition: 0.3s;
    transform: scale(1.1);
  }
@media(max-width: 768px){
    .footer{
        margin: 50px 70px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .btn{
        display: flex;
    }
    .btn{
        bottom: 10px;
        height: 30px;
        width: 30px;
    }
}